<!DOCTYPE html>
<html>
<head>
	<title>Currency Converter</title>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript">
		var app = angular.module("curr",[]);
		app.controller("currCtrl" ,function($scope){
			$scope.rs = 0;
			$scope.dollar = 0;
		});
	</script>
</head>
<body ng-app="curr" ng-controller="currCtrl">
    
    <input type="number"  ng-model="rs" ng-keyup="dollar = rs/68">
    <input type="number"  ng-model="dollar" ng-keyup="rs = dollar*68">

</body>
</html>